#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1EAB07;
    height: 130px;
}
/* logo */
#logo {
    position: relative;
    width: 10%;
    height: 92px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 900;
    margin-top: -12px;
    padding-top: 20px;
}
/* logo image */
#logo>img {
    max-width: 100%;
    position: relative;
    bottom: 45px;
}
/* logotext */
#logotext {
    position: relative;
    bottom: 80px;
    color: white;
    left: 30px;
    font-size: 18px;
}
/* nav menu */
#navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    padding-top: 50px;
}
/* Navmenulist */
#navmenu ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    list-style: none;
}
/* login button */
#loginbutton {
    font-size: 18px;
    width: 100px;
    height: 40px;
    color: #1EAB07;
    background-color: white;
    border: none;
    border-radius: 20px;
}
/* Bacground image */
.backgroundimage{
    background-image: url(imgss/istockphoto-1156466210-612x612.jpg);
    background-size: 610px;
    background-repeat: repeat-x;
    overflow: hidden;
}
/* blog text */
.backgroundimage h1{
    text-align: center;
 margin-top: 150px;
 color: white;
 font-size: 8rem;
}
/* style for the section with the images and texts */
.posts{
    display: flex;
    padding-top: 30px;
    
}
.posts .paragraph p, a{
    font-size: 2.5rem;
    margin-left: 40px;
}
.posts a{
    color: #1EAB07;
}
h3{
    color: #0C4803;
    font-size: 50px;
    margin-top: 0;
}