*body{
    padding: 0px;
    margin: 0px;
    font-style: "Roboto";
}
.nav{
    background-color: green;
    display: flex;
    height: 110px;
}
.logo img{
    height: 100px;
}
.logo p{
    margin-top: -30px;
    padding-left: 20px;
    color: white;
    font-size: 20px;
}
li{
    display: inline-block;
    margin-right: 40px;
    font-style: "Roboto";font-size: 22px;
    color: white;
}
ul{
    padding-top: 60px;
    padding-left: 450px;   
}
.log{
    margin-top: 50px;
}
.log button{
    border-radius: 60px;
    width: 120px;
    height: 50px;
}
.image{
    height: 500px;
    width: 100%;
    background-image: url("images/download\ \(1\).jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1.0;
    padding-top: 10px;
    image-rendering: pixelated;
}
.image p{
    text-align: center;
    padding-top: 300px;
    font-style: "Roboto"; font-size: 22px;
}
.service{
    background-color: green;
    height: 400px;
    padding-top: 5px;
}
.service h2{
    margin-left: 20px;
}
.service p{
    margin-left: 20px;
    font-size: 20px;
}
    
.picha{
    background-image: url("images/download\ \(2\).jpeg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    image-rendering: pixelated;
    padding-top: 5px;
}
.picha p{
    color: white;
    font-size: 20px;
    padding-top: 200px;
    text-align: center;
}
.consol{
    background-color: black;
    height: 400px;
    padding-top: 5px;
}
.consol h4{
    color: white;
    font-size: 20px;
    margin-left: 40px;
    font-style: "Roboto";
}