/* default styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */

#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1EAB07;
    height: 120px;
}

/* logo */

#logo {
    position: relative;
    width: 10%;
    height: 92px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 900;
    margin-top: -12px;
    padding-top: 20px;
}

/* logo image */

#logo>img {
    max-width: 100%;
    position: relative;
    bottom: 45px;
}

/* logotext */

#logotext {
    position: relative;
    bottom: 80px;
    color: white;
    left: 30px;
    font-size: 18px;
}

/* nav menu */

#navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    padding-top: 50px;
}

/* Navmenulist */

#navmenu ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    list-style: none;
}

/* login button */

#loginbutton {
    font-size: 18px;
    width: 100px;
    height: 40px;
    color: #1EAB07;
    background-color: white;
    border: none;
    border-radius: 20px;
}

/* herosection */

#herosection {
    position: relative;
}

/* herosection image */

.background {
    background-image: url(./images/eye-for-ebony-jg_t3PBq5Jo-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    width: 100%;
}

/* blur effect */

.blur {
    background: rgba(39, 39, 39, 0.2);
    backdrop-filter: blur(2px);
    height: 570px;
    width: 100%;
    z-index: 1;
}

/*container*/

.container {
    text-align: center;
}

/* herosection text */

div.circTxt {
    display: inline-block;
    position: relative;
    bottom: -200px;
    color: white;
    z-index: 5;
    font-weight: 900;

}

/* about section */

#aboutsection {
    line-height: 36px;
    height: 550px;
    background: #0C4803;
    padding-left: 48px;
    padding-top: 48px;
}

/* About section title */

#aboutsection :first-child {
    font-weight: 900;
    font-size: 36px;
}

/* about section paragraphs */

#aboutsection>p {
    color: white;
    padding-bottom: 48px;
    font-size: 28px;
}

/* about section button */

#aboutsection>button {
    font-size: 24px;
    color: #1EAB07;
    width: 300px;
    height: 60px;
    border-radius: 25px;
}

/* psychiatric centres */

.psychiatric-centres {
    height: 420px;
    padding-left: 48px;
}

/* psychiatric centres heading */

.psychiatric-centres>p {
    padding-bottom: 48px;
    font-size: 36px;
    padding-top: 36px;
    color: #1EAB07;
}

/* psychiatric centres list */

#unorderedlist {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    line-height: 66px;
    padding-left: 24px;
}

/* psychiatric centres list first child*/

#unorderedlist :first-child {
    padding-right: 28px;
}

/* service delivery section */

#servicedelivery {
    height: 500px;
    display: flex;
    background-color: #0C4803;
}

/* right side div */

#familyimage {
    width: 50%;
}

/* right side image */

#familyimage>img {
    max-width: 100%;
    width: 800px;
    height: 500px;
}

/* service delivery left-section */

#left-servicedelivery {
    padding-top: 36px;
    padding-left: 36px;
}

/* service delivery left-section divs */

.leftservicedivs {
    height: 500px;
    display: flex;
    max-height: 33%;
    color: white;
    padding-bottom: 36px;
    font-size: 24px;
}

/* service delivery left-section paragraphs */

.leftserviceparagraph {
    padding-bottom: 48px;
    padding-left: 48px;
    text-align: left;
    line-height: 30px;
}

/*leftservice third paragraph */

.leftserviceparagraphthird {
    margin-left: -24px;
}

/* approach section */

#approachsection {
    display: flex;
    padding-top: 48px;
    padding-left: 48px;
    padding-bottom: 48px;
}

/* approach section left paragraph */
#ourapproach {
    width: 20%;
    font-size: 36px;
    font-weight: bold;
    color: #1EAB07;
}

/* approach section right paragraphs */
#approachparagraphs {
    font-size: 22px;
    line-height: 36px;
}

/* footer */
#footer{
    background-color: #1EAB07;
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 450px;
    font-size: 24px;
    color: white;
    padding-top: 48px;
    padding-left: 48px;
}

/* footer texts */
.footertexts{
    line-height: 48px;
    width: 27%;
}

/* footer texts headings */

.footertexts p:first-child{
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: 900;
}

/* footer social icons */

.footertexts>img{
    width: 172px;
}

/* footer buttons */
#newsletterbutton{
    position: relative;
    display: flex;
    left: -48px;
    margin-top: 24px;
}

/* email button */
#emailbutton{
    position: relative;
    width: 260px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #1EAB07;
    left: 48px;
}

/* subscribe button */
#subscribe{
    position: relative;
    width: 140px;
    height: 35px;
    border-radius: 20px 20px 20px 0px;
    border: none;
    background-color: #0C4803;
    color: #1EAB07;
}