#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #1EAB07;
    height: 130px;
}
/* logo */
#logo {
    position: relative;
    width: 10%;
    height: 92px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 900;
    margin-top: -12px;
    padding-top: 20px;
}
/* logo image */
#logo>img {
    max-width: 100%;
    position: relative;
    bottom: 45px;
}
/* logotext */
#logotext {
    position: relative;
    bottom: 80px;
    color: white;
    left: 30px;
    font-size: 18px;
}
/* nav menu */
#navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 72px;
    padding-top: 50px;
}
/* Navmenulist */
#navmenu ul {
    display: flex;
    justify-content: space-between;
    gap: 48px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    list-style: none;
}
/* login button */
#loginbutton {
    font-size: 18px;
    width: 100px;
    height: 40px;
    color: #1EAB07;
    background-color: white;
    border: none;
    border-radius: 20px;
}
/* Styling for the background image */
#bckg{
    height: 780px;
    background: url(asset/pexels-photo-4672438.jpeg);
    background-size:100%;
    background-repeat: no-repeat;
}
/*  styling for the second section */
.container{
    display: flex;
    justify-content: space-around;
    margin-top: -36px;
    background: #0c4803;
    padding: 120px 200px 50px 50px;
    font-size: 25px;
}
.left{
background: url(asset/pexels-irina-iriser-1408221.jpg);
background-size: cover;
height: 500px;
padding:60px 200px 70px 40px;
margin-right: 200px;
border-radius: 0px;
z-index: 1;
}
#button2{
    margin-bottom: 150px;
}
#button2 button{
    width: 200px;
    height: 50px;
    border: #ffff;
    font-size: 23px;
    font-family: quantico;
    color: green;
}
.left p{
    color: #ffff;
}
.left a{
    color: #ffff;
    text-decoration: none;
}
#join{
    margin-bottom: 150px;
}
.right{
    height: 500px;
    width: 350px;
    padding:60px 60px 70px 40px;
    background: #ffff;
    border-radius: 50px;
    z-index: 2;
    margin-left: 600px;
    position: absolute;
}
.right h2{
    text-align: center;
}
.right h3{
    margin-bottom: 4px;
    padding-left: 20px;
}
#box{
    padding-bottom: 20px;
}
#google>button>img{
    height: 30px;
    vertical-align: middle;
}
#ss{
    padding-left: 20px;
}
#ss button{
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    color: #ffff;
    background: #0c4803;
}
.right :nth-child(4) span{
    font-size: 34px;
}
#sign :nth-child(2){
 height: 50px;
 width: 250px;
 border-radius: 10px;
 border: none;
 background: #e1ebe6;
 padding-left: 20px;
}
#sign :nth-child(4){
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background: #e1ebe6;
    padding-left: 20px;
}
.right p{
    text-align: center;
    display: flex;
}
.right p:before,
.right p:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #000;
    margin: auto;
}
  
#sign :nth-child(6){
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    background: #e1ebe6;
    padding-left: 20px;
    margin-bottom: 20px;
}
#google button{
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 10px;
}
/* footer */
#footer{
    background-color: #1EAB07;
    display: flex;
    justify-content: space-between;
    text-align: left;
    height: 450px;
    font-size: 24px;
    color: white;
    padding-top: 48px;
    padding-left: 48px;
}
/* footer texts */
.footertexts{
    line-height: 48px;
    width: 27%;
}
/* footer texts headings */
.footertexts p:first-child{
    font-size: 36px;
    margin-bottom: 24px;
    font-weight: 900;
}
/* footer social icons */
.footertexts>img{
    width: 172px;
}
/* footer buttons */
#newsletterbutton{
    position: relative;
    display: flex;
    left: -48px;
    margin-top: 24px;
}
/* email button */
#emailbutton{
    position: relative;
    width: 260px;
    height: 35px;
    border-radius: 20px;
    border: none;
    color: #1EAB07;
    left: 48px;
}
/* subscribe button */
#subscribe{
    position: relative;
    width: 140px;
    height: 35px;
    border-radius: 20px 20px 20px 0px;
    border: none;
    background-color: #0C4803;
    color: #1EAB07;
}